scrapy
dotenv
msal
beautifulsoup4
colorama
clickhouse-connect
cython
selenium
scrapy-splash
scrapy-selenium
fake-useragent
PyAutoGUI
webdriver-manager
pandas
matplotlib
scipy
scikit-learn
seaborn
pydantic
fastapi
uvicorn
langchain
langchain-together
langchain-text-splitters
langchain-community
langgraph
langchain_huggingface
numpy==1.26.3
faiss-cpu
rank_bm25